Cards
<div class="card-container">
  <mat-card class="card">
    <mat-card-content routerLink="/learn-component/study-component">
      <span>Study</span>
      <button mat-icon-button>
        <mat-icon aria-label="chevron_right">chevron_right</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-content routerLink="/check-cards-component">
      <span>Check cards</span>
      <button mat-icon-button>
        <mat-icon aria-label="chevron_right">chevron_right</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
<mat-divider></mat-divider>

Grammar
<div class="card-container">
  <mat-card class="card">
    <mat-card-content routerLink="/learn-component/study-component">
      <span>Lectures</span>
      <button mat-icon-button>
        <mat-icon aria-label="chevron_right">chevron_right</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>

<mat-divider></mat-divider>

Other
<div class="card-container">
  <mat-card class="card">
    <mat-card-content routerLink="/learn-component/study-component">
      <span>Study</span>
      <button mat-icon-button>
        <mat-icon aria-label="chevron_right">chevron_right</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

</div>
