Vocabulary
<div class="card-container">
  <app-card-button
    routerLink="/learn/sheets"
    label="Study"
  ></app-card-button>

  <app-card-button
    routerLink="/check-cards"
    label="Manage cards"
    disabled="true"
  ></app-card-button>
</div>
<mat-divider></mat-divider>

Kanji
<div class="card-container">
  <app-card-button
    routerLink="/study"
    label="Study"
    disabled="true"
  ></app-card-button>
</div>

<mat-divider></mat-divider>

Hiragana & Katakana
<div class="card-container">
  <app-card-button
    routerLink="/study"
    label="Study"
    disabled="true"
  ></app-card-button>
</div>
