<span class="primary-text">JLPT</span>
<div class="card-container">
  <app-card-button routerLink="/learn/sheets" label="Study"></app-card-button>

  <app-card-button
    routerLink="/check-cards"
    label="Manage cards"
    disabled="true"
  ></app-card-button>
</div>
<mat-divider></mat-divider>

<span class="primary-text">Kanji</span>
<div class="card-container">
  <app-card-button
    routerLink="/study"
    label="Study"
    disabled="true"
  ></app-card-button>
</div>

<mat-divider></mat-divider>

<span class="primary-text"> Hiragana & Katakana</span>
<div class="card-container">
  <app-card-button
    routerLink="/study"
    label="Study"
    disabled="true"
  ></app-card-button>
</div>
