#menu-button {
  display: block;
  margin: auto;
}

.example-spacer {
  flex: 1 1 auto;
}

footer {
  position: fixed;
  bottom: 0;
}

.mat-drawer-container {
  height: 100%;
}

.content-container {
  padding: 2em;
}

.mat-sidenav-content {
  min-height: 100vh;
}

.search-container {
  margin-top: 20px;
  * {
    font-size: medium !important;
    line-height: normal !important;
    font-weight: normal !important;
  }
}
