<div [ngClass]="darkMode ? 'dark-theme' : 'light-theme'">
  <div *ngIf="settings$ | async as settings" class="app-container">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Navigate to home"
        mat-icon-button
        [routerLink]="['/learn']"
        routerLinkActive="active"
      >
        <mat-icon aria-label="Side nav toggle icon">home</mat-icon>
      </button>
      <app-search></app-search>
      <button
        type="button"
        aria-label="Navigate to settings"
        mat-icon-button
        [routerLink]="['/settings-component']"
        routerLinkActive="active"
      >
        <mat-icon aria-label="Side nav toggle icon">settings</mat-icon>
      </button>
    </mat-toolbar>
    <div class="content-container">
      <router-outlet> </router-outlet>
    </div>
    <!-- <footer>stuff</footer> -->
  </div>
</div>
