.example-spacer {
  flex: 1 1 auto;
}

footer {
  position: fixed;
  bottom: 0;
}

.mat-drawer-container {
    height: 100%;
}

.content-container {
    margin: 2em;
}

.mat-sidenav-content {
  min-height: 100vh;
}