<div
  *ngIf="settings$ | async as settings"
  [ngClass]="darkMode ? 'dark-theme' : ''"
>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
      <mat-nav-list>
        <button
          id="menu-button"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="drawer.opened"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a
          mat-list-item
          href="#"
          routerLink="/learn"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Learn
        </a>
        <a
          mat-list-item
          href="#"
          routerLink="/settings-component"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Settings
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="!drawer.opened"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <app-search></app-search>
      </mat-toolbar>
      <div class="content-container">
        <router-outlet> </router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer>stuff</footer>
</div>
