.sheet-card {
  margin: 1em;
  white-space: nowrap;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mat-card-content span {
  margin-left: 1em;
}

.section-title {
  width: 100%;
}
