<div *ngIf="(loaded$ | async) === false" class="loading-container">
  <mat-spinner></mat-spinner>
</div>

<div class="quick-link-container">
  <div *ngIf="chipListWords$ | async as chipListWords" class="chips">
    <div *ngFor="let word of chipListWords">
      <mat-card>
        {{ word.word }} {{ word.score }}/9
        <div class="definition background-contrast" (click)="show($event)">
          {{ word.definition }}
        </div>
      </mat-card>
    </div>
  </div>

  <mat-paginator
    #paginator
    [length]="100"
    [pageSizeOptions]="[10, 25, 50]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
