<div *ngIf="(loaded$ | async) === false" class="loading-container">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="mergedWords$ | async as mergedWords" class="squares">
  <div *ngFor="let word of mergedWords; let i = index">
    <app-square [value]="word.score" [active]="i == wordCounter"></app-square>
  </div>
</div>

<div *ngIf="mergedWords$ | async as mergedWords" class="card-container">
  <div class="flip-card">
    <div class="flip-card-inner" [ngClass]="{ flipped: !flipped }">
      <mat-card class="flip-card-front">
        <div class="card-header">
          <div class="vertical-center"> {{ currentScore }} / 9</div>
          <div></div>
          <div></div>
          <div></div>
          <div>
            <button mat-icon-button [disabled]="wordCounter === 0" (click)="previous()">
              <mat-icon aria-label="fully_known">arrow_back</mat-icon>
            </button>
            <button mat-icon-button [disabled]="wordCounter === mergedWords.length" (click)="next()">
              <mat-icon aria-label="fully_known">arrow_forward</mat-icon>
            </button>
          </div>
        </div>
        <mat-card-content>
          <div class="definition">{{ currentWord }}</div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button [disabled]="flipped" (click)="correct()">
            <mat-icon aria-label="known">done</mat-icon>
          </button>
          <button mat-icon-button [disabled]="flipped" (click)="learned()">
            <mat-icon aria-label="fully_known">done_all</mat-icon>
          </button>
          <button mat-icon-button [disabled]="flipped" (click)="wrong()">
            <mat-icon aria-label="close">close</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="flip-card-back">
        <mat-card-content>
          <div class="definition">{{ currentTranslation }}</div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button [disabled]="!flipped" (click)="next()">
            <mat-icon aria-label="next">arrow_forward</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
