:host {
  font-size: 12px;
}

.bigger {
  font-size: x-large;
}

.result-list-item {
  height: fit-content;
  padding: 1em;
}

.button-line-height {
  height: 24px;
}

.result-item-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.result-item-definition {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-form-field {
  padding-top: 16px;
}

.search-result-container {
  position: fixed;
  max-width: 100%;
  z-index: 100;
  max-height: 80vh;
  overflow-y: scroll;
}

.big-screen {
  right: 12px;
  left: 12px;
}

.small-screen {
  right: 12px;
  left: 105px;
}
