@use "./../breakpoints.scss";

:host {
  font-size: 12px;
}

.bigger {
  font-size: x-large;
}

.search-result-list-item {
  height: fit-content !important;
  padding: 1em;
}

.button-line-height {
  height: 24px;
}

.search-result-list-item-container {
  padding: 1em;
  display: flex;
  justify-content: space-around;
  width: 100%;
  @media only screen and (max-width: breakpoints.$tablet) {
    flex-direction: column;
  }
}
.search-result-list-item-definition-container {
  width: 50%;
  margin: 1em;
  @media only screen and (max-width: breakpoints.$tablet) {
    width: 100%;
    margin: 0.5em 0;
  }
}

.search-result-item-definition {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.definition-title {
  padding-left: 0.5em;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-form-field {
  padding-top: 16px;
}

.search-result-container {
  position: fixed;
  top: 76px;
  max-width: 100%;
  z-index: 100;
  max-height: 80vh;
  overflow-y: scroll;
  box-shadow: 0 0px 0 1000px rgba(0, 0, 0, 0.3) !important;
}

.big-screen {
  right: 1em;
  left: 1em;
}

.small-screen {
  right: 1em;
  left: 1em;
}
