<div class="search-input-container">
  <mat-form-field class="search-form-field" appearance="fill">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="searchValue"
      (keydown.escape)="hideResults()"
      (keydown.enter)="triggerSearch()"
      (focusin)="hideResults()"
    />
    <button
      *ngIf="searchValue"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="emptySearch()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>manage_search</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setSearchType('basic')">
      <span>basic</span>
    </button>
    <!-- <button mat-menu-item (click)="setSearchType('rem')">
      <span>Radical english meaning</span>
    </button>
    <button mat-menu-item (click)="setSearchType('kem')">
      <span>Kanji english meaning</span>
    </button> -->
    <button mat-menu-item (click)="setSearchType('kun')">
      <span>kunyomi reading</span>
    </button>
    <button mat-menu-item (click)="setSearchType('on')">
      <span>on reading</span>
    </button>
    <!-- <button mat-menu-item (click)="setSearchType('kanji')">
      <span>Kanji character</span>
    </button> -->
  </mat-menu>
</div>
<mat-card
  class="search-result-container"
  [ngClass]="(menuOpen$ | async) === false ? 'big-screen' : 'small-screen'"
  *ngIf="(dataLoaded$ | async) === true"
>
  <mat-card-header>Results</mat-card-header>
  <mat-list role="list">
    <mat-list-item
      class="search-result-list-item"
      *ngFor="let result of searchResults"
      role="listitem"
    >
      <div class="search-result-list-item-container">
        <div
          class="search-result-list-item-definition-container background-darken"
        >
          <div class="background-darken definition-title">
            Kanji <span class="bigger">{{ result.kanji.character }}</span>
            <button
              type="button"
              mat-icon-button
              (click)="playTTS(result.kanji.character)"
              class="button-line-height"
            >
              <mat-icon aria-label="play icon">hearing</mat-icon>
            </button>
          </div>
          <div class="search-result-item-definition">
            <app-key-value-pair
              [key]="' Meaning'"
              [value]="result.kanji.meaning.english"
            ></app-key-value-pair>

            <app-key-value-pair
              [key]="'Strokes'"
              [value]="result.kanji.strokes.count"
            ></app-key-value-pair>

            <app-key-value-pair
              [key]="'Kanji'"
              [value]="result.kanji.character"
            ></app-key-value-pair>

            <app-key-value-pair
              [key]="'Onyomi
          '"
              [value]="
                result.kanji.onyomi.romaji + ', ' + result.kanji.onyomi.katakana
              "
            ></app-key-value-pair>

            <app-key-value-pair
              [key]="'Kunyomi
          '"
              [value]="
                result.kanji.kunyomi.romaji +
                ', ' +
                result.kanji.kunyomi.hiragana
              "
            ></app-key-value-pair>
          </div>
        </div>
        <div></div>
        <div
          class="search-result-list-item-definition-container background-darken"
        >
          <div class="background-darken definition-title">
            Radical
            <span class="bigger">{{ result.radical.character }}</span>
          </div>
          <div class="search-result-item-definition">
            <app-key-value-pair
              [key]="'Meaning'"
              [value]="result.radical.meaning.english"
            ></app-key-value-pair>

            <app-key-value-pair
              [key]="'Strokes'"
              [value]="result.radical.strokes"
            ></app-key-value-pair>

            <app-key-value-pair
              [key]="'Name'"
              [value]="
                result.radical.name.romaji + ', ' + result.radical.name.hiragana
              "
            ></app-key-value-pair>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
